/* Global */
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Oxygen";
  src: url("../fonts/Oxygen/Oxygen-Bold.ttf");
}

h1,
h2,
h3,
a,
p {
  color: #FFF;
  font-family: "Oxygen", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

/* Main */
main {
  background: url(../img/lauzanne_img.jpg);
  background-position: center;
  background-size: cover;
}

/* Header */
header {
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  margin-bottom:90%;
}

header div.logo {
  width: 15%;
}

header h1 {
  text-transform: uppercase;
  font-size: 1.4em;
}

header nav.menu-header {
  width: 15%;
}

header nav.menu-header ul {
  display: flex;
  justify-content: space-around;
}

header nav.menu-header li.externe {
  display: none;
}

header nav.menu-header li a:hover {
  color: #2682c2;
}

/* Nav -- social */
nav.social {
  display: none;
  margin: 4em 0;
}

/* Nav -- menu */

nav.menu {
  width: 80%;
  margin: auto;
  text-align: center;
}

nav.menu ul li {
  margin: 1px;
}

nav.menu ul li a {
  background: rgba(0, 0, 0, 0.6);
  display: block;
  width: 100%;
  padding: 0.6em 0;
}

nav.menu ul li a:hover {
  color: #2682c2;
}


@media only screen and (min-width: 767px) {
  header{
    margin-bottom:0px;
  }
  header h1 {
    font-size: 2em;
  }

  header nav.menu-header li.externe {
    display: block;
  }

  header nav.menu-header li.externe a:first-child {
    padding-right: 10px;
    border-right: solid 1px white;
  }

  header nav.menu-header li.externe a:last-child {
    padding-left: 10px;
  }

  nav.social {
    display: block;
    font-size: 1.5em;
  }

  nav.social ul li {
    width:64px;
    height:64px;
  }

  nav.social ul li a{
    width: 100%;
    height: 100%;
    background-color: #2682c2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav.social ul li a:hover{
    background-color: #10435f;
    padding-right:100px;
    justify-content: initial;
    padding-left:20px;
  }

  nav.social ul li:nth-child(1) a:hover::after{
    content:"Facebook";
    margin-left:20px;
  }

  nav.social ul li:nth-child(2) a:hover::after{
    content:"Twitter";
    margin-left:20px;
  }

  nav.social ul li:nth-child(3) a:hover::after{
    content:"Instagram";
    margin-left:20px;
  }

  nav.social ul li:nth-child(4) a:hover::after{
    content:"Pinterest";
    margin-left:20px;
  }

  nav.social ul li:nth-child(5) a:hover::after{
    content:"Youtube";
    margin-left:20px;
  }

  nav.social ul li:nth-child(6) a:hover::after{
    content:"LinkedIn";
    margin-left:20px;
  }

  nav.social ul li a b {
    display: none;
  }

  nav.menu ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  nav.menu ul li {
    width: 33%;
    margin: 0;
  }

  nav.menu ul li a {
    font-size: 1.5em;
    padding: 1em 0;
  }
}