/* Global */
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Oxygen";
  src: url("../fonts/Oxygen/Oxygen-Bold.ttf");
}

h1,
h2,
h3,
a,
p {
  color: #FFF;
  font-family: "Oxygen", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

/* Main */
main {
  background: url(../img/lauzanne_img.jpg);
  background-position: center;
  background-size: cover;
}

/* Header */
header {
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

header div.logo {
  width: 15%;
}

header h1 {
  text-transform: uppercase;
  font-size: 1.4em;
}

header nav.menu-header {
  width: 15%;
}

header nav.menu-header ul {
  display: flex;
  justify-content: space-between;
}

header nav.menu-header li.externe {
  display: none;
}

header nav.menu-header li a:hover {
  color: #2682c2;
}

/* Nav -- social */
nav.social {
  background: #2682c2;
  display: none;
}

/* Nav -- menu */

nav.menu {
  display: flex;
  margin: auto;
  justify-content: center;
  text-align: center;
}

nav.menu ul li {
  background: rgba(0, 0, 0, 0.8);
  margin: 1px 0;
}

nav.menu ul li a {
  display: block;
  padding: 1em 5em;
}

nav.menu ul li a:hover {
  color: #2682c2;
}


@media only screen and (min-width: 767px) {
  header nav.menu-header li.externe {
    display: block;
  }

  header nav.menu-header span.externe{
      width:1px;
      background: #FFF;
  }

  nav.social {
    display: block;
  }

  nav.menu {
    display: flex;
    flex-direction: row;
  }
}

